extends layout

block content
  div(id='app')
    h1 #{title}
    div {{message}}
    h2 Vue List:
    p(v-if="loading") 
      b Loading Items...
    ul(v-else)   
      li(v-for="item in items") 
        p
          b {{item.name}} 
        div
          img(v-bind:src="item.imageUrl")
    
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script.
    var msg = "#{msg}"
  script(src='/javascripts/app.js')
    
