extends layout

block content
  div(id='app')
    h1 #{title}
    div #{msg}
    div 
      input(name="card-name", v-model="searchTerm")
      button(v-on:click="search") Search
    h2 Vue List:
    p(v-if="loading") 
      b Loading Items...
    div(v-else class="grid")   
      div(v-for="item in items" class="grid__col") 
        div(class="card")
          h2(class="card__title") {{item.name}} 
          div(class="card__art")
            img(v-if="item.imageUrl" v-bind:src="item.imageUrl" class="card__img")
            img(v-else v-bind:src="'/images/card-back.jpg'" class="card__img")
    
  script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
  script(src='/javascripts/app.js')
    
