// sass --watch public/stylesheets --style compressed

$bfs: 16px
$blh: 30px

body, h1, h2, h3, h4, h5 ,h6
  font-family: 'Raleway', sans-serif

h1, h2, h3, h4, h5 ,h6
  font-weight: bold

// Components
@import "components/_card.sass"
@import "components/_grid.sass"
@import "components/_loader.sass"










//
