.grid
  display: block
  text-align: center
  font-size: 0
  &__cell
    width: 100%
  @media screen and (min-width: 420px)
    &__cell
      display: inline-block
      vertical-align: top
      font-size: $bfs
